cool.cpp
cool1.cpp
cool.exe
cool1.exe
.gitignore

1 zadanie/1.exe
1 zadanie/2.exe
1 zadanie/3.exe
1 zadanie/4.exe
1 zadanie/5.exe
1 zadanie/6.exe
1 zadanie/7.exe
1 zadanie/8.exe
1 zadanie/9.exe
1 zadanie/10.exe
1 zadanie/11.exe
1 zadanie/12.exe
1 zadanie/13.exe

2 zadanie/1.exe
2 zadanie/2.exe
2 zadanie/3.exe
2 zadanie/4.exe
2 zadanie/5.exe
2 zadanie/6.exe
2 zadanie/7.exe
2 zadanie/8.exe
2 zadanie/9.exe
2 zadanie/10.exe
2 zadanie/11.exe
2 zadanie/12.exe

3 zadanie/1.exe
3 zadanie/2.exe
3 zadanie/3.exe
3 zadanie/4.exe
3 zadanie/5.exe
3 zadanie/6.exe
3 zadanie/7.exe
3 zadanie/8.exe
3 zadanie/9.exe
3 zadanie/10.exe
3 zadanie/11.exe


4 zadanie/1.exe
4 zadanie/2.exe
4 zadanie/3.exe

5 zadanie/1.exe
5 zadanie/2.exe
5 zadanie/3.exe

6 zadanie/1.exe
6 zadanie/2.exe
6 zadanie/3.exe

cr/1.exe
cr/2.exe
cr/3.exe
cr/4.exe
cr/5.exe
cr/6.exe
cr/7.exe
cr/8.exe

14 zadanie/1.exe
14 zadanie/2.exe
14 zadanie/3.exe
14 zadanie/4.exe